@import './normalize.css';

#app {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
}

.line-through {
    text-decoration: line-through;
}

.todo-list-container {
    width: 300px;
    height: calc(100% - 200px - 100px);
    margin: auto;
    padding-top: 200px;
    text-align: center;
}

input[type="text"] {
    width: 200px;
    line-height: 18px;
    font-size: 18px;
    padding: 0 .5em;
}

.todo-list-container ul {
    padding-left: 0;
    max-height: 500px;
}

.todo-list-container ul li {
    text-align: left;
    list-style: none;
    font-size: 16px;
    margin-bottom: 8px;
}

.todo-list-input {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.todo-list-input button {
    width: 80px;
}

.todo-item {
    display: flex;
    align-items: center;
    height: 25px;
}

.todo-item input[type="checkbox"] {
    transform: scale(1.4);
    flex-shrink: 0;
    margin-right: 16px;
}

.todo-item button {
    flex-shrink: 0;
    margin-right: 32px;
}

.todo-item-content {
    display: inline-block;
    width: calc(100% - 62px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-list-info {
    display: flex;
    height: 25px;
    justify-content: space-around;
    align-items: center;
}